 <div class="card col mb-3" th:fragment="dayInformation">
    <div class="row no-gutters">
      <div class="col-md-10">
        <div class="card-body" id="dayInfoContent">
        </div>
      </div>
    </div>
  </div>