<div class="col calendar-wrapper mb-3" th:fragment="calendar">
  <button id="btnPrev" type="button">Предыдущий</button>
  <button id="btnNext" type="button">Следующий</button>
  <div id="divCal"></div>
  <script src="/scripts/employee_calendar.js"></script>
</div>


