<div class="container" th:fragment="navbar">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Учет рабочего времени</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/employee" class="nav-link" aria-current="page">Сотрудники</a></li>
            <li class="nav-item"><a href="/task" class="nav-link">Задачи</a></li>
        </ul>
    </header>
</div>