<div class="modal" id="addCardModal" th:fragment="addCard">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" th:action="@{/card}" th:object="${saveCardDto}">

                <div class="modal-header">
                    <h4 class="modal-title">Добавить затраченное время на задачу</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="row g-3 modal-body">

                    <div class="form-group">
                        <label for="spentTime">Затраченное время(в часах)</label>
                        <input type="number" class="form-control" id="spentTime"
                               th:field="*{spentTime}" required>
                    </div>

                    <div class="form-group">
                        <label for="date">Дата</label>
                        <input type="date" class="form-control" id="date"
                               th:field="*{date}" required>
                    </div>

                    <div class="form-group">
                        <label for="employeeId">Сотрудник</label>
                        <select class="form-control" id="employeeId" th:field="*{employeeId}">
                            <option th:each="employee : ${selectedTask.getEmployees()}"
                                    th:value="${employee.getId()}"
                                    th:text="${employee.getFirstName()} + ' ' + ${employee.getLastName()}">
                            </option>
                        </select>
                    </div>

                    <input type="hidden" th:value="${selectedTask.getId()}" th:attr="name='taskId'">

                </div>

                <div class="modal-footer">
                    <input type="submit" value="Подтвердить" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>

            </form>

        </div>
    </div>
</div>