<div class="modal" id="addEmployeeToTaskModal" th:fragment="addEmployeeToTask">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" th:action="@{/task/add-employee}" th:object="${saveCardDto}">

                <div class="modal-header">
                    <h4 class="modal-title">Добавить затраченное время на задачу</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="row g-3 modal-body">

                    <div class="form-group">
                        <label for="employeeId">Сотрудник</label>
                        <select class="form-control" id="employeeId" th:attr="name='employeeId'">
                            <option th:each="employee : ${employees}"
                                    th:value="${employee.getId()}"
                                    th:text="${employee.getFirstName()} + ' ' + ${employee.getLastName()}">
                            </option>
                        </select>
                    </div>

                    <input type="hidden" th:value="${selectedTask.getId()}" th:attr="name='taskId'">

                </div>

                <div class="modal-footer">
                    <input type="submit" value="Подтвердить" class="btn btn-success"/>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>

            </form>

        </div>
    </div>
</div>