<div class="modal" id="addEmployeeModal" th:fragment="addEmployee">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="post" th:action="@{/employee}" th:object="${saveEmployeeDto}">

      <div class="modal-header">
        <h4 class="modal-title">Добавить сотрудника</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="row g-3 modal-body">

        <div class="form-group">
          <label for="firstName">Имя</label>
          <input type="text" class="form-control" id="firstName"
                 th:field="*{firstName}" required>
        </div>

        <div class="form-group">
          <label for="lastName">Фамилия</label>
          <input type="text" class="form-control" id="lastName"
                 th:field="*{lastName}" required>
        </div>

        <div class="form-group">
          <label for="workNormative">Недельный норматив(в часах)</label>
          <input type="text" class="form-control" id="workNormative"
                 th:field="*{workNormative}" required>
        </div>

        <div class="form-group">
          <label for="grade">Уровень сотрудника</label>
          <select class="form-control" id="grade" th:field="*{grade}">
            <option th:each="grade : ${gradeVariants}"
                    th:value="${grade}"
                    th:text="${grade}">
            </option>
          </select>
        </div>

      </div>

      <div class="modal-footer">
        <input type="submit" value="Подтвердить" class="btn btn-success" />
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
      </div>

      </form>

    </div>
  </div>
</div>