<div class="modal" id="addOffdayModal" th:fragment="addOffday">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" th:action="@{/offday}" th:object="${saveOffdayDto}">

                <div class="modal-header">
                    <h4 class="modal-title">Добавить пропущенный день</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="row g-3 modal-body">

                    <div class="form-group">
                        <label for="date">Дата</label>
                        <input type="date" class="form-control" id="date"
                               th:field="*{date}" required>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" th:field="*{isPayable}">
                        <label class="form-check-label" for="flexCheckChecked">
                            Оплачиваемый
                        </label>
                    </div>

                    <div class="form-group col">
                        <label for="type">Тип</label>
                        <select class="form-control" id="type" th:field="*{type}">
                            <option th:each="type : ${typeVariants}"
                                    th:value="${type}"
                                    th:text="${type.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="reason">Причина</label>
                        <textarea class="form-control" id="reason"
                                  th:field="*{reason}">
                        </textarea>
                    </div>

                    <input type="hidden" th:value="${selectedEmployee.getId()}" th:attr="name='employeeId'">

                </div>

                <div class="modal-footer">
                    <input type="submit" value="Подтвердить" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>

            </form>

        </div>
    </div>
</div>