<div class="modal" id="addOverworkModal" th:fragment="addOverwork">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" th:action="@{/overwork}" th:object="${saveOverworkDto}">

                <div class="modal-header">
                    <h4 class="modal-title">Добавить переработку</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="row g-3 modal-body">

                    <div class="form-group">
                        <label for="duration">Время переработки(в минутах)</label>
                        <input type="number" class="form-control" id="duration"
                               th:field="*{duration}" required>
                    </div>

                    <div class="form-group">
                        <label for="date">Дата</label>
                        <input type="date" class="form-control" id="date"
                               th:field="*{date}" required>
                    </div>

                    <input type="hidden" th:value="${selectedEmployee.getId()}" th:attr="name='employeeId'">

                </div>

                <div class="modal-footer">
                    <input type="submit" value="Подтвердить" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>

            </form>

        </div>
    </div>
</div>