<div class="modal" id="addTaskModal" th:fragment="addTask">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" th:action="@{/task}" th:object="${saveTaskDto}">

                <div class="modal-header">
                    <h4 class="modal-title">Добавить задачу</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="row g-3 modal-body">

                    <div class="form-group col">
                        <label for="importance">Важность</label>
                        <select class="form-control" id="importance" th:field="*{importance}">
                            <option th:each="importance : ${importanceVariants}"
                                    th:value="${importance}"
                                    th:text="${importance.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col">
                        <label for="difficulty">Сложность</label>
                        <select class="form-control" id="difficulty" th:field="*{difficulty}">
                            <option th:each="difficulty : ${difficultyVariants}"
                                    th:value="${difficulty}"
                                    th:text="${difficulty.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="startTime">Время начала</label>
                        <input type="datetime-local" class="form-control" id="startTime"
                               th:field="*{startTime}" required>
                    </div>

                    <div class="form-group">
                        <label for="employees">Выберите сотрудников</label>
                        <select class="form-control" id="employees" multiple="multiple" th:field="*{employees}">
                            <option th:each="employee : ${employees}"
                                    th:value="${employee.getId()}"
                                    th:text="${employee.getFirstName()} + ' ' + ${employee.getLastName()}">
                            </option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="description">Описание</label>
                        <textarea class="form-control" id="description"
                                  th:field="*{description}"
                        ></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <input type="submit" value="Подтвердить" class="btn btn-success"/>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>

            </form>

        </div>
    </div>
</div>