<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учет рабочего времени сотрудника</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{/components/navbar :: navbar}"> </div>
<div class="container mx-auto">
    <div class="container mt-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
            Добавить сотрудника
        </button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Грейд</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employeeList}">
            <td><b th:text="${employee.getId()}"></b></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getGrade()}"></td>
            <td><a type="button" class="btn btn-primary" th:href="@{/employee/{id}(id=${employee.getId()})}">Подробнее</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{modals/addEmployee :: addEmployee}"> </div>
</body>
</html>