<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учет рабочего времени сотрудника</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="~{/components/navbar :: navbar}"></div>
<div class="container justify-content-center">
    <div class="container row mx-auto">
        <div class="card col mb-3">
            <div class="row no-gutters">
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Инфомация о задаче</h5>
                        <p class="card-text" th:text="'Описание задачи: ' + ${selectedTask.getDescription()}"></p>
                        <p class="card-text" th:text="'Задача создана: ' + ${selectedTask.getStartTime()}"></p>
                        <p class="card-text"
                           th:text="'Задача завершена: ' + (${selectedTask.getFinishTime()}?:'Выполняется')"></p>
                        <p class="card-text" th:text="'Cложность : ' + ${selectedTask.getDifficulty().getName()}"></p>
                        <p class="card-text" th:text="'Важность : ' + ${selectedTask.getImportance().getName()}"></p>
                        <p class="card-text" th:text="'Затраченное время на задачу: ' + (${summaryTime}?:0) + ' часов'"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col mb-3 pt-3 border bg-white">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addEmployeeToTaskModal">
                Добавить сотрудника к задаче
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCardModal">
                Добавить время выполнения
            </button>
            <div class="mt-1">
                <form action="#" method="post" th:action="@{/task/finish/{taskId}(taskId=${selectedTask.getId()})}">
                    <button type="submit" name="submit" class="btn btn-success">Завершить задачу</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container row mx-auto">
        <div th:replace="~{/components/taskCalendar :: calendar}"></div>
        <div th:replace="~{/components/dayInformation :: dayInformation}"></div>
    </div>


    <div th:replace="~{modals/addCard :: addCard}"></div>
    <div th:replace="~{modals/addEmployeeToTask :: addEmployeeToTask}"></div>
</div>
</body>
</html>