<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Учет рабочего времени сотрудника</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{/components/navbar :: navbar}"> </div>
<div class="container mx-auto">
  <div class="container mt-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaskModal">
      Добавить задачу
    </button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Описание</th>
      <th scope="col">Время начала</th>
      <th scope="col">Время завершения</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${taskList}">
      <td><b th:text="${task.getId()}"></b></td>
      <td th:text="${task.getDescription()}"></td>
      <td th:text="${task.getStartTime()}"></td>
      <td th:text="${task.getFinishTime()} ?: 'Выполняется'"></td>
      <td><a type="button" class="btn btn-primary" th:href="@{/task/{id}(id=${task.getId()})}">Подробнее</a></td>
    </tr>
    </tbody>
  </table>
</div>

<div th:replace="~{modals/addTask :: addTask}"> </div>

</body>
</html>